<div class="container mt-5">
  <div class="row">
    <%= render "search", properties: @properties %>
    <%= render "property", properties: @properties %>
    <div class="col-md-12">
      <%= render partial: "shared/paginator", locals: { pagy: @pagy, properties: @properties } %>
    </div>
  </div>
</div>
