<div class="container mt-5">

  <div class="row">
    <div class="col-md-3">
      <div class="card h-100 d-flex flex-column">
        <div class="card-body">
          <%= render "search" %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <%= render "user_property", user_properties: @user_properties %>
    </div>

    <div class="col-md-12">
      <%= render partial: "shared/paginator", locals: { pagy: @pagy, properties: @user_properties } %>
    </div>


  </div>
</div>

